md-content(ng-swipe-right="saveWord()" ng-swipe-left="removeWord()")
  section#speech-photo(layout="row" layout-align="center center")
    md-button.md-raised.md-primary(ng-click="openInput()") Speech
    md-button.md-raised.md-primary Photo
  div#word-block
    section(layout="row" layout-align="center center")
      h1.slide-animation(ng-repeat="w in words" ng-hide="!isCurrentIndex($index)") {{w.word}}
    section(layout="row" layout-align="center center")
      md-button.md-raised.md-primary(ng-click="openDef(word)") Definition
      md-button.md-raised.md-primary Pronunciation
    section(layout="row" layout-align="center center")
      md-button.md-raised.md-primary Use this word in a sentence
  div#pullup
    section(layout="row" layout-align="center center")
      md-button.md-raised.md-primary Words You've Learned
  
  
